.kpop--frame.side-panel {
  --opening-animation: slide-in-right;
  --closing-animation: slide-out-right;
  width: 50%;
  max-width: unset;
  max-height: unset;
  height: 100%;
  margin-inline: auto 0;
  border-radius: 0;
  border: 0;
}

@media (max-width: 600px), (max-height: 400px) {
  .kpop--frame.side-panel {
    --opening-animation: slide-in-bottom;
    --closing-animation: slide-out-bottom;
    max-width: unset;
    min-width: unset;
    width: 100%;
    height: calc(100% - 1.5rem);
    align-self: flex-end;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
