// frame variables
$min-width: 35rem !default;
$max-width: 52rem !default;
$min-height: 0 !default;
$max-height: 80dvh !default;
$duration: 0.2s !default;

// breakpoints
$mobile-width: 600px !default;
$mobile-height: 400px !default;

@mixin mobile {
  @media (max-width: $mobile-width), (max-height: $mobile-height) {
    @content;
  }
}

// modal variables
$border-radius: 0.5rem !default;
$title-background-color: #344055 !default;
$title-text-color: white !default;
$default-padding: 1rem 1.5rem !default;

// scrim variables
$scrim-background: rgba(0, 0, 0, 0.6) !default;
