@use "variables" as *;

.kpop--container {
  display: none;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  align-items: center;
  z-index: 100;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }
}

.kpop--frame {
  --opening-animation: kpop-slide-in-up;
  --closing-animation: kpop-slide-out-down;
  --animation-duration: 0.2s;

  position: relative;
  display: grid;
  margin: 0 auto;

  --min-width: min(35rem, 100vw);
  --max-width: min(52rem, 100vw);
  --min-height: min(25rem, 30svh);
  --max-height: min(calc(100svh - 1.5rem), 80svh);

  min-width: var(--min-width);
  max-width: var(--max-width);
  min-height: var(--min-height);
  max-height: var(--max-height);

  grid-template-columns: clamp(var(--min-width), 100%, var(--max-width));
  grid-template-rows: clamp(var(--min-height), 100%, var(--max-height));
}

.scrim[data-scrim-open-value="false"] + .kpop--container .kpop--frame {
  display: none;
}

.scrim[data-hide-animating]
  + .kpop--container
  .kpop--frame[data-kpop--frame-open-value="true"] {
  animation: var(--closing-animation);
  animation-duration: var(--animation-duration);
  animation-fill-mode: forwards;
}

.scrim[data-show-animating] + .kpop--container .kpop--frame {
  animation: var(--opening-animation);
  animation-duration: var(--animation-duration);
  animation-fill-mode: forwards;
}

@keyframes kpop-slide-in-up {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes kpop-slide-out-down {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(10%);
    opacity: 0;
  }
}
