@use "variables" as *;

.scrim {
  --animation-duration: 0.2s;
  --background: rgba(0, 0, 0, 0.6);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background);
  z-index: -1;
  opacity: 0;

  &[data-hide-animating] {
    animation: scrim-fade-out;
    animation-duration: var(--animation-duration);
    animation-fill-mode: forwards;
  }

  &[data-show-animating] {
    animation: scrim-fade-in;
    animation-duration: var(--animation-duration);
    animation-fill-mode: forwards;
  }
}

.scrim[data-scrim-open-value="true"] {
  opacity: 1;
}

@keyframes scrim-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrim-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
