<%= render Kpop::ModalComponent.new(title: "Content modal", fallback_location: root_path, layout: :side_panel) do %>
  Modal content
  <a href="/">Home</a>
  <a href="/test">Test</a>
  <%= render "form" %>
<% end %>
