<%= render_kpop(title: "Persistent modal", temporary: false) do %>
  Modal content
  <a href="/">Home</a>
  <form action="/" method="get">
    <input type="submit" value="Submit">
  </form>
<% end %>
