<h1>Parent <%= @parent.name %></h1>

<%= render "children/children", children: @parent.children %>

<%= kpop_link_to "New child", new_parent_child_path %>

<% if local_assigns[:child] %>
  <% content_for(:kpop) do %>
    <%= render template: "children/new", locals: { child: } %>
  <% end %>
<% end %>
